﻿<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <grid-generic columns="vm.columns" datasrc="vm.dataSource "></grid-generic>
        </div>
    </div>
</div>
