﻿<div class="">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center" ng-repeat="col in vm.columns track by $index">
                    {{col.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in vm.datasrc track by $index">
                <td ng-repeat="col in vm.columns">
                    <div ng-switch="col.type">
                        <div ng-switch-when="int" class="text-center">
                            <input ng-if="col.type == 'int'" type="number" ng-model="data[col.field]" />
                        </div>
                        <div ng-switch-when="string" class="text-center">
                            <span ng-if="col.type == 'string'">{{data[col.field]}}</span>
                        </div>
                        <div ng-switch-when="bool" class="text-center">
                            <span ng-if="col.type == 'bool'">{{data[col.field]}}</span>
                        </div>
                        <div ng-switch-default class="text-center">
                            {{data[col.field]}}
                        </div>
                        <div ng-if="col.command">
                            <div ng-repeat="btnAction in col.command">
                                <button ng-class="{'btn btn-danger':btnAction.class,'btn btn-default':!btnAction.class}" ng-click="vm.onClick(btnAction.event,data)">{{btnAction.title}}</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-if="vm.datasrc.length == 0">
                <td colspan="8" class="text-center">
                    <i class="material-icons">info</i> @L("EmptyData")
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row text-center m-t-10" ng-if="vm.datasrc.length > 0">
        <span>@L("CountTotal") {{vm.metadata.totalItemCount}}</span>
    </div>

    <div class="row text-center" ng-if="vm.metadata.pageCount > 1">
        <ul uib-pagination
            total-items="vm.metadata.totalItemCount"
            items-per-page="vm.metadata.pageSize"
            ng-model="vm.page"
            max-size="6"
            previous-text=@L("Previous")
            next-text=@L("Next")
            ng-change="vm.pageChanged()"></ul>
    </div>
</div>