﻿<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("OrderDetail") | 00000{{vm.id}}
                </h2>
            </div>
            <div class="body">
                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item disabled">
                        {{vm.order[0].name}}
                    </a>
                    <a href="javascript:void(0);" class="list-group-item"><span class="">Descriptiom: </span> {{vm.order[0].description}}</a>
                    <a href="javascript:void(0);" class="list-group-item"><span class="">Model: </span> {{vm.order[0].model}}</a>
                    <a href="javascript:void(0);" class="list-group-item"><span class="">Quantity: </span> {{vm.order[0].quantity}}</a>
                    <a href="javascript:void(0);" class="list-group-item"><span class="">Status: </span> {{vm.order[0].orderStatusName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

