﻿<div class="page-loader background-official">
    <div class="preloaderinit pl-xl pls-red">
        <div class="pre-loader-logo">
            <img src="/images/splash.jpg?width=200" />
            <br />
            <br />
            <br />
            <div id="spinner" class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
</div>