﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using RDP.Web.Helpers
@using RDP
@{
    var version = AppVersionHelper.ReleaseDate.ToString("yyyyMMddhhmmss");
}

<script type="text/javascript">
    var abp = abp || {}; abp.appPath = '@ApplicationPath'; abp.version = '@(version)';
    @if (Html.IsDebug())
    {
        <text>var isDebug = true;</text>
    }
</script>

<!--[if lt IE 9]>   
    <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
    <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
<![endif]-->

@Scripts.Render("~/app/vendorjs")
<script>moment.locale('es');</script>
<script src="/app/jsproxy?v=@(version)"></script>
<script src="/app/signalr/hubs?v=@(version)"></script>
@Scripts.Render("~/app/signalrlib")
@Scripts.Render("~/app/mainjs")
