﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using RDP
@using RDP.Web.Helpers
@{
    SetAntiForgeryCookie();
    var version = AppVersionHelper.ReleaseDate.ToString("yyyyMMddhhmmss");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>RDP - Login</title>

    @Styles.Render("~/Bundles/account-vendor/css")

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        var abp = abp || {}; abp.appPath = '@ApplicationPath'; abp.version = '@(version)';
        @if (Html.IsDebug())
        {
            <text>var isDebug = true;</text>
        }
    </script>
</head>
<body class="login-page">

    <div class="row">
        <div class="col-xs-8">
            <div class="logo card">
                <a asp-controller="Home" asp-action="Index">
                    <img src="/images/logo-rdp.jpg" style="width:580PX !important;" />
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="login-box">
                @RenderBody()
            </div>
        </div>
    </div>

    @Html.Action("_AccountLanguages", "Account")

    <div class="row">
        <div class="col-xs-12 text-center" style="color: #e9e9e9">
            <small>&copy; @DateTime.Now.Year RDP. <b>Version </b> @AppVersionHelper.Version [1.0.0.1]</small>
        </div>
    </div>

    @Scripts.Render("~/Bundles/account-vendor/js/bottom")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
    @Html.PartialViewScripts()
</body>
</html>
