﻿<form id="formProducto" name="formProducto" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span ng-show="vm.isNew">@L("Create") </span>
            <span ng-show="!vm.isNew">@L("Edit") </span>
            <span>@L("Product")</span>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row">

            @* -- Name -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>@L("Name")</label>
                    <div class="form-line">
                        <input name="nombre" type="text" class="form-control"
                               placeholder="Ingrese nombre"
                               autocomplete="off"
                               ng-model="vm.product.name" required />
                    </div>
                    <span class="messages" ng-show="formProducto.$submitted || formProducto.name.$touched">
                        <span ng-show="formProducto.name.$error.required">El campo es obligatorio.</span>
                    </span>
                </div>
            </div>

            @* -- Description -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>@L("Description")</label>
                    <div class="form-line">
                        <textarea class="form-control"
                                  name="observation"
                                  rows="3"
                                  placeholder="Escriba una descripci&oacute;n"
                                  ng-model="vm.product.description"
                                  ng-minlength="5"></textarea>
                    </div>
                </div>
            </div>

            @* -- Model -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>@L("Model")</label>
                    <div class="form-line">
                        <input name="nombre" type="text" class="form-control"
                               placeholder="Ingrese modelo"
                               autocomplete="off"
                               ng-model="vm.product.model" required />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> @L("Cancel")
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()"
                    ng-disabled="!formProducto.$valid">
                <i class="material-icons">save</i> @L("Save")
            </button>
        </div>
    </div>
</form>