﻿<div class="row clearfix" ng-controller="productController as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2 class="title-custom">
                    @L("Products")
                </h2>
                <div class="input-group form-float">
                    <div class="form-line">
                        <input type="text" ng-model="vm.filters.search"
                               ng-model-options="{debounce: 500 }"
                               placeholder="Buscar por nombre" class="form-control">
                    </div>
                </div>
            </div>

            <div class="body">

                <!-- ******************************************************** -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>@L("Name")</th>
                            <th>@L("Description")</th>
                            <th>@L("Model")</th>
                            <th>@L("Quantity")</th>
                            <th class="text-center">@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in vm.dataContext.data track by $index">
                            <td>#{{data.id}}</td>
                            <td>{{data.name}}</td>
                            <td class="hidden-xs">{{data.description | limitTo: 20}}</td>
                            <td>{{data.model | limitTo: 20}}</td>
                            <td>{{data.description | limitTo: 20}}</td>
                                <td class="dropdown text-center">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.addOrUpdateModalModal(data)"><i class="material-icons">create</i>@L("Edit")</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.deleteProduct(data.id)"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                        </tr>
                        <tr ng-if="vm.dataContext.data.length == 0">
                            <td colspan="8" class="text-center">
                                <i class="material-icons">info</i> @L("EmptyData")
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- ******************************************************** -->
                <div class="row text-center" ng-if="vm.dataContext.data.length > 0">
                    <span>@L("CountTotal") {{vm.dataContext.metaData.totalItemCount}}</span>
                </div>

                <div class="row text-center" ng-if="vm.dataContext.data.pageCount > 0">
                    <ul uib-pagination
                        total-items="vm.dataContext.metaData.totalItemCount"
                        ng-model="vm.filters.page"
                        max-size="4"
                        previous-text="@L("Back")"
                        next-text="@L("Next")"
                        ng-change="vm.pageChanged()"></ul>
                </div>

                <button type="button" data-toggle="modal" class="btn bg-pink btn-circle waves-effect waves-circle waves-float pull-right" ng-click="vm.addOrUpdateModalModal()">
                    <i class="material-icons">add</i>
                </button>

            </div>

        </div>
    </div>
</div>