﻿<div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <pre>
                    {{vm.model | json}}
                </pre>
                <form id="form_validation" method="POST">
                    @* -- Name -- *@
                    <div class="col-md-12">
                        <div class="form-group form-float text-left">
                            <label>Nombre</label>
                            <div class="form-line">
                                <input name="nombre" type="text" class="form-control"
                                       autocomplete="off"
                                       disabled
                                       ng-model="vm.model.name" />
                            </div>
                        </div>
                    </div>

                    @* -- surname -- *@
                    <div class="col-md-12">
                        <div class="form-group form-float text-left">
                            <label>Surname</label>
                            <div class="form-line">
                                <input name="nombre" type="text" class="form-control"
                                       autocomplete="off"
                                       disabled
                                       ng-model="vm.model.surname" />
                            </div>
                        </div>
                    </div>

                    @* -- Email -- *@
                    <div class="col-md-12">
                        <div class="form-group form-float text-left">
                            <label>Email</label>
                            <div class="form-line">
                                <input name="nombre" type="text" class="form-control"
                                       autocomplete="off"
                                       disabled
                                       ng-model="vm.model.email" />
                            </div>
                        </div>
                    </div>

                    @* -- Description -- *@
                    <div class="col-md-12">
                        <div class="form-group form-float text-left">
                            <label>Descripci&oacute;n</label>
                            <div class="form-line">
                                <textarea class="form-control"
                                          name="description"
                                          disabled
                                          ng-model="vm.model.description"
                                          ng-minlength="5"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>