﻿<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body" style="background-color:beige;">
                <div class="row">
                    @* -- ADDRESS --*@
                    <div class="col-xs-6 form-float text-left">
                        <custom-select title="'Address'" list="vm.address" selected="vm.model.addressId"></custom-select>
                    </div>

                    @* -- DISPATCHER --*@
                    <div class="col-xs-6 form-float text-left">
                        <custom-select title="'Dispatcher'" list="vm.dispatchers" selected="vm.model.dispatcherId"></custom-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
