﻿<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="row">
                    @* -- RIGS --*@
                    <div class="col-xs-6 form-float text-left">
                        <label>Rigd</label>
                        <div class="form-line">
                            <select class="form-control"
                                    ng-model="vm.model.rigId"
                                    ng-options="col.id as col.description for col in vm.rigs"></select>
                        </div>
                    </div>

                    @* -- WELLS --*@
                    <div class="col-xs-6 form-float text-left">
                        <label>Wells</label>
                        <div class="form-line">
                            <select class="form-control"
                                    ng-model="vm.model.wellId"
                                    ng-options="col.id as col.description for col in vm.wells"></select>
                        </div>
                    </div>

                    @* -- TRANSPORTS --*@
                    <div class="col-xs-6 form-float text-left">
                        <label>Rigd</label>
                        <div class="form-line">
                            <select class="form-control"
                                    ng-model="vm.model.transportId"
                                    ng-options="col.id as col.description for col in vm.transports"></select>
                        </div>
                    </div>

                    @* -- VEHICLES --*@
                    <div class="col-xs-6 form-float text-left">
                        <label>Vehicles</label>
                        <div class="form-line">
                            <select class="form-control"
                                    ng-model="vm.model.vehicleId"
                                    ng-options="col.id as col.description for col in vm.vehicles"></select>
                        </div>
                    </div>
                </div>


                @*wrapper para la carga de componentes*@
                <dynamic-wrapper name="{{vm.dynamicComponent}}"></dynamic-wrapper>


                <div class="body">
                    <form id="form_validation" method="POST">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="name"
                                       ng-model="vm.model.name"
                                       autocomplete="off">
                                <label class="form-label">Name *</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="surname"
                                       ng-model="vm.model.surname"
                                       autocomplete="off">
                                <label class="form-label">Surname *</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="email"
                                       ng-model="vm.model.email"
                                       autocomplete="off">
                                <label class="form-label">Email *</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <textarea name="description" cols="30" rows="5" class="form-control no-resize"
                                          ng-model="vm.model.description"
                                          autocomplete="off"></textarea>
                                <label class="form-label">Description *</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>