﻿<label>{{vm.title}}</label>
<div class="form-line">
    <select class="form-control"
            ng-model="vm.selected"
            ng-options="col.id as col.description for col in vm.list"></select>
</div>