﻿<div class="wizard">
    <div class="row" style="margin-left:5px !important; margin-right:5px !important; padding-top:15px !important;">
        <div class="col-md-8 text-left">
            <button type="button" class="btn btn-success waves-effect" ng-click="vm.viewCart()">
                <i class="material-icons">add_shopping_cart</i>
                @L("ShopppingCart")
                <span class="badge">{{vm.cartItems}}</span>
            </button>
        </div>
        <div class="col-md-4 text-right">
            <button type="button" id="prev" class="btn btn-default waves-effect"
                    ng-show="vm.cartItems > 0"
                    ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> @L("Cancel")
            </button>
            <button type="button" id="next" class="btn btn-primary waves-effect next-step"
                    ng-show="vm.cartItems > 0 && !vm.placeOrder">
                @L("Next") <i class="material-icons">arrow_forward</i>
            </button>
            <button type="button" id="finish" class="btn btn-primary waves-effect"
                    ng-show="vm.cartItems > 0 && vm.placeOrder"
                    ng-click="vm.save()">
                <i class="material-icons">save</i> @L("Finish")
            </button>
        </div>
    </div>

    <div class="card" ng-if="vm.messageErrors .length > 0">
        <div class="body">
            <ul class="list-group">
                <li class="list-group-item list-group-bg-pink" style="padding:7px !important;" ng-repeat="msg in vm.messageErrors">{{msg}}</li>
            </ul>
        </div>
    </div>

    <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a class="a-prevent" href="#step1" data-toggle="tab" aria-controls="step1" role="tab">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-pencil"></i> @L("Products")
                    </span>
                </a>
            </li>
            <li role="presentation" class="disabled">
                <a class="a-prevent" href="#step2" data-toggle="tab" aria-controls="step2" role="tab">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-folder-open"></i> @L("ShippinChange")
                    </span>
                </a>
            </li>
            <li role="presentation" class="disabled">
                <a class="a-prevent" href="#step3" data-toggle="tab" aria-controls="complete" role="tab">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-ok"></i> @L("PlaceOrder")
                    </span>
                </a>
            </li>
        </ul>
    </div>
  
    <form role="form">
        <div class="tab-content">
            @* -- Tab 1 -- *@
            <div class="tab-pane active" role="tabpanel" id="step1">
                <grid-generic columns="vm.columns" datasrc="vm.dataSource.data" metadata="vm.dataSource.metaData"></grid-generic>
            </div>

            @* -- Tab 2 -- *@
            <div class="tab-pane" role="tabpanel" id="step2">
                <shipping-charges></shipping-charges>
            </div>

            @* -- Tab 3 -- *@
            <div class="tab-pane" role="tabpanel" id="step3">
               <place-order></place-order>
            </div>

            <div class="clearfix"></div>
        </div>
    </form>
</div>