﻿<div class="user-info" ng-controller="layoutController.sidebarUserArea as vm">
    <div class="image">
        <img src="/images/user.png" width="48" height="48" alt="User" />
    </div>
    <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{vm.getShownUserName()}}</div>
        <div class="email">{{vm.userEmailAddress}}</div>
    </div>
</div>