﻿<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    @L("NewOrder")
                </h2>
            </div>

            @*Wizard de ordenes*@
            <order-wizard></order-wizard>

        </div>
    </div>
</div>

