﻿<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    @L("Orders")
                </h2>
            </div>

            <div class="body table-responsive">
                <grid-generic columns="vm.columns" datasrc="vm.dataSource.data" metadata="vm.dataSource.metaData"></grid-generic>
            </div>
        </div>
    </div>
</div>

