﻿<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
              
                </h2>
            </div>

            <div class="body table-responsive">
                <div class="row">
                    <div class="col-md-8">
                        <button ui-sref="orders.orderdb" type="button" class="btn btn-primary waves-effect"><i class="material-icons">receipt</i><span> @L("Orders")</span> </button>
                        <button ui-sref="orders.takeOut({paramId:1})" type="button" class="btn btn-primary waves-effect"><i class="material-icons">receipt</i><span> @L("NewOrder")</span> </button>
                        <button ui-sref="orders.takeOutRigReturn({paramId:2})" type="button" class="btn btn-primary waves-effect"><i class="material-icons">library_books</i><span> @L("NewRR")</span></button>
                    </div>
                    <div class="col-md-4 text-right">
                        <button ui-sref="user.detail({paramId:1})" type="button" class="btn btn-default waves-effect"><i class="material-icons">cloud_download</i><span> @L("Download")</span></button>
                    </div>
                </div>

                <div ui-view="order"></div>
            </div>
        </div>
    </div>
</div>
