﻿<form id="frm_edit_role" name="roleEditForm" novalidate>

    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span> @L("ShopppingCart")</span>
        </h4>
    </div>
    <div class="modal-body">
        <grid-generic columns="vm.columns" datasrc="vm.items"></grid-generic>
    </div>

    <div class="modal-footer">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                @L("Cancel")
            </button>
            <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="roleCreateForm.$invalid">
                @L("Save")
            </button>
        </div>
    </div>
</form>